@mixin container(){
    width: 100%;
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

body{
    header{
        @include container;
        h1{
            text-align: center;
            border-radius: 5px;
            border: 1px solid #323232;
            background-color: #1ba3c7;
            color: #fff;
            font-size: 16px;
            padding: 5px;
        }
    }
    .table{
        @include container;
        table{
            margin-top: 20px;
            text-align: center;
            width: 100%;
            tr{
                th{
                    text-align: center;
                    background-color: #1ba3c7;
                    color: #ffffff;
                    border: 1px solid black;
                }
                td{
                    border: 1px solid black;
                    text-align: center;
                }
                .edit{
                    width: 50px;
                    text-align: center;
                }
                .delete{
                    width: 50px;
                    text-align: center;
                }
            }
        }
    }
    form{
        @include container;
        table{
            width: 100%;
            padding: 20px;
            margin-top: 20px;
            tr{
                th{
                    text-align:right;
                    width: 30%;
                    padding-right: 10px;
                }
                td{
                    width: 70%;
                    padding-bottom: 5px;
                    input{
                        width: 90%;
                        border:1px solid #373737;
                        border-radius: 3px;
                        font-size: 14px;
                        padding: 3px 7px;
                    }
                }
            }
        }
        .form-item{
            margin: 0 auto;
            width: 100%;
            text-align: center;
            margin-top: 10px;
            p{
                width: 100%;
                text-align: center;
            }
            input{
                width: 150px;
                border: 1px solid #bdbdbd;
                border-radius: 3px;
                background-color: #bdbdbd;
                box-shadow: 0px 4px 0px 0px #a3a1a1;
                outline: 0;
                font-size: 14px;
                color: #ffffff;
                &:active{
                    transform: translateY(4px);
                    box-shadow: none;
                }
            }
        }
    }
}
